replicaCount: 1
image:
  repository: hieubeo2369/api
  tag: latest
  pullPolicy: IfNotPresent
service:
  type: NodePort
  port: 5003
  nodePort: 30002
env:
  MONGO_URL: mongodb+srv://hieunt230603:33nwHHbBTAYtlOvq@cluster0.upbvhyg.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
ingress:
  enabled: false
resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
serviceAccount:
  create: true
autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 10
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: 80

